<div class='header'>
    <nav>
        <button routerLink="dashboard" routerLinkActive="active">Główny widok</button>
        <button routerLink="find" routerLinkActive="active">Znajdź pojazd MPK</button>
    </nav>
</div>