<div class='component'>

  Znajdź położenie pojazdu
  <div *ngFor="let line of lines" (click)="changeLineList(line)">Linia {{line}}</div>

  Koordynaty pojazdu: {{coordinates}} <br>
  <span *ngFor="let httpError of httpErrors">{{httpError}}</span>
</div>
